a,
img {
  -webkit-touch-callout: none;
  /* 禁止长按链接与图片弹出菜单 */
}
html,
body {
  -webkit-user-select: none;
  /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
}
body {
  background: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.contanier {
  max-width: 10rem;
  overflow: hidden;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 1.18rem;
  background: #91d4da;
  position: relative;
  color: #fff;
  line-height: 1.18rem;
}
header a {
  position: absolute;
  left: 0.2rem;
  top: 0;
  margin-left: 0.2rem;
  color: #fff;
  font-size: 14px;
}
header a i {
  margin-right: 0.05rem;
}
header h1 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
nav {
  background: #fff;
  height: 1.2rem;
}
nav ul {
  height: 1.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
nav li {
  font-size: 14px;
  flex: 1;
  line-height: 1.2rem;
  text-align: center;
}
nav li:nth-of-type(3) {
  border-bottom: 0.08rem solid #91d4da;
}
.banner-box {
  width: 100%;
  height: 5.45rem;
}
.banner-box img {
  width: 100%;
  height: 100%;
}
.icon-list {
  background: #fff;
  padding: 0 0.3rem;
}
.icon-list .wrapper {
  height: 2.9rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #dedede;
}
.icon-list .wrapper dl dt {
  width: 1.2rem;
  height: 1.2rem;
}
.icon-list .wrapper dl dt img {
  width: 100%;
  height: 100%;
}
.icon-list .wrapper dl dd {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
.add-box {
  background: #fff;
  padding: 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.add-box-item {
  flex: 1;
  border-left: 1px solid #dfdfdf;
}
.add-box-item .add-img-box {
  margin: 0 auto;
  width: 1.4rem;
  height: 2.0rem;
}
.add-box-item .add-img-box img {
  width: 100%;
  height: 100%;
}
.add-box-item h2 {
  font-size: 22px;
  text-align: center;
  padding: 0.1rem;
  font-weight: bold;
  margin-top: 0.1rem;
}
.add-box-item h3 {
  font-size: 14px;
  text-align: center;
  padding: 0.1rem;
  font-weight: bold;
  color: #575757;
}
.add-box-item:first-child {
  border-left: 0;
}
.module {
  padding: 0 0.3rem;
  background: #fff;
  margin-bottom: 10px;
}
.module h2 {
  line-height: 1.2rem;
  font-size: 22px;
  font-weight: bold;
  color: #575757;
  border-bottom: 1px solid #dfdfdf;
}
.module-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
}
.module-content-img {
  width: 2.42rem;
  height: 2.28rem;
}
.module-content-img img {
  width: 100%;
  height: 100%;
}
.module-content .topic-btn {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  display: flex;
  width: 3.2rem;
  height: 2.28rem;
  flex-wrap: wrap;
  align-content: space-between;
}
.module-content .topic-btn span {
  width: 3.2rem;
  height: 1.0rem;
  background: #DFDFDF;
  font-size: 14px;
  text-align: center;
  line-height: 1.0rem;
}
.article {
  background: #fff;
  padding: 0.2rem 0.3rem;
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.article-img {
  width: 2.82rem;
  height: 1.99rem;
}
.article-img img {
  width: 100%;
  height: 100%;
}
.article dl {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  display: flex;
  width: 5.8rem;
  align-content: space-between;
  flex-wrap: wrap;
  margin-left: 0.3rem;
}
.article dl dt {
  font-size: 22px;
  font-weight: bold;
  color: 666666;
  line-height: 24px;
}
.article dl dd {
  font-size: 12px;
  color: #c5c5c5;
}
.last {
  background: #fff;
  padding: 0 0.3rem 2rem	0.3rem;
}
.last h1 {
  font-size: 22px;
  font-weight: bold;
  color: 666666;
  line-height: 1.2rem;
}
.last-contanier {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.last-contanier .last-img {
  width: 3.0rem;
  height: 2rem;
}
.last-contanier .last-img img {
  height: 100%;
  width: 100%;
}
.last .promot {
  margin-top: 0.2rem;
  font-size: 12px;
  color: #c5c5c5;
}
