*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
a{
  text-decoration: none;
}

.dialog-group .cover{
  position:fixed;
  width:100%;
  height:100%;
  background:#000;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;

}
.dialog-group .dialog{
  font: 14px/1.5 '\5fae\8f6f\96c5\9ed1', Arial,     Tahoma, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: #fff;
  z-index: 100;
  width:320px;
}
.dialog-group .dialog .content-ct{
  padding:20px;
  height:156px;
  line-height: 32px;
  font-size: 16px;;
  position: relative;
  color:#666;
}
.dialog-group .dialog .content-ct .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dialog-group .dialog .footer{
  height: 44px;
}
.dialog-group .dialog .footer a{
  color:#fff
}
.dialog-group .dialog .footer .btn{
  display:block;
  background: #555;
  border: 1px solid #444;
  height:44px;
  font-size: 18px;
  text-align: center;
  line-height: 44px;
  
}
.dialog-group .dialog .footer .half{
  width:50%;
  float: left;  
}
.dialog-group .dialog .footer .btn:hover{
  color:#F3AA36
}
