@charset 'utf-8';
@import 'compass/reset';
@import 'compass/css3';

* {
	box-sizing: border-box;
}
html,body {
	min-height: 100%;
}
#space {
	width: calc(100% - 400px);
	height: 100%;
	background-color: #000;
	position: relative;
}
#planet {
	width: 200px;
	height: 200px;
	background-color: blue;
	@include border-radius(50%);
	position: absolute;
	left: 50%;
	top: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}
#panels {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	height: 100%;
}
#log-panel {
	width: 100%;
	height: 70%;
	overflow: auto;
	background-color: #999;
	padding: 20px;
}
#control-panel {
	width: 100%;
	height: 30%;
	min-height: 250px;
	padding: 20px;
}
.orbit {
	@include border-radius(50%);
	border: 1px solid #345C63;
	position: absolute;
	left: 50%;
	top: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}
.spaceship {
	width: 100px;
	height: 40px;
	background-color: #30C6FF;
	position: absolute;
	left: calc(50% - 50px);
	top: calc(50% - 20px);
	overflow: hidden;
	text-align: center;
	@include border-radius(20px);
	.energy-progress {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: red;
		z-index: -1;
	}
	.energy-text {
		@include inline-block;
		padding-top: 13px;
		z-index: 1;
	}
}