*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}
body{
  padding:20px;
}
label{
  width:120px;
  text-align:right;
  color:#009c4c;
  font-weight: bold;
}
label,input{
  display:inline-block;
  margin-bottom:10px;
}
#add-btn{
  text-align:center;
  line-height:18px;
  height:30px;
  width:100px;
  display:block;
  padding:5px 10px;
  border:1px solid #009c4c;
  border-radius:20px;
  color:#fff;
  background:#009c4c;
  margin-left:200px;
  cursor:pointer;
  font-weight:bold ;
   -webkit-user-select: none;
  
}
#add-btn:active{
  color:#009c4c;
  background:#fff;
}
#cityError,#airError{
  color:red;
  margin-left:10px;
}
table{
  margin-top: 50px;
  border-collapse:collapse;
  border:1px solid #999;
}
table td{
  width:100px;
  text-align: center;
}