*{
	padding : 0px;
	margin : 0px;
	box-sizing: border-box;
}
body{
	padding:20px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfloat:after{
  height: 0;
  content: '';
  display: block;
  clear: both;
}
.calendar-contanier{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	display: inline-block;
	position: relative;
}
.calendar-contanier .data-text{
	width: 218px;
	padding:4px;
	height: 25px;
	border: 1px solid #ccc;
	background: url('../img/o_nextprv.png')no-repeat right -18px;
}
.calendar-contanier dl{
	display:none;
	width:487px;
	height:450px;
	background-color: #f6f6f6;
	position:absolute;
	margin-top: 10px;
}
.calendar-contanier dl dt{
	position:relative;
	width:486px;
	height:63px;
	border-top:4px solid #ef4f69;
	border-bottom:1px solid #dddddd;
	box-shadow:0px 0px 0 #fff,0px 0px 0 #fff,0px 1px 1px #e2e2e2;
	background: #fff;
	z-index: 999;
}
.calendar-contanier dl dt .pre-year-btn{
	position:absolute;
	width:9px;
	height:9px;
	background:url('../img/o_nextprv.png')no-repeat left 0px top 0px;
	left:20px;
	top: 50%;
	margin-top: -4.5px;
	cursor: pointer;
}
.calendar-contanier dl dt .pre-month-btn{
	position:absolute;
	width:5px;
	height:9px;
	background:url('../img/o_nextprv.png')no-repeat left -9px top 0px;
	left:45px;
	top: 50%;
	margin-top: -4.5px;
	cursor: pointer;
}
.calendar-contanier dl dt .next-year-btn{
	position:absolute;
	width:9px;
	height:9px;
	background:url('../img/o_nextprv.png')no-repeat  right 0px top 0px;
	right:20px;
	top: 50%;
	margin-top: -4.5px;
	cursor: pointer;
}
.calendar-contanier dl dt .next-month-btn{
	position:absolute;
	width:5px;
	height:9px;
	background:url('../img/o_nextprv.png')no-repeat right -9px top 0px;
	right:45px;
	top: 50%;
	margin-top: -4.5px;
	cursor: pointer;
}
.calendar-contanier dl dt .now-data{
	width:100%;
	text-align: center;
	margin-top: 10px;
}
.calendar-contanier dl dt .now-data .now-data-month{
	font-size: 18px;
	color:#495468;
	font-weight: 300;
}
.calendar-contanier dl dt .now-data .now-data-year{
	color:#b7bbc2;
	font-size: 13px;
	font-weight: 700;
}
.calendar-contanier dl dd{
	position:relative;
	height:390px;
	width:486px;
	padding:30px;
	z-index: 999;
}
.calendar-contanier dl dd ul{
	background: transparent;
    color: #ef4f69;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}
.calendar-contanier dl dd ul li{
	float: left;
	text-align: center;
    height: 100%;
    width: calc(100%/7);
    position: relative;
}
.calendar-contanier dl dd .cal-body ul {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	height:270px;
}
.calendar-contanier dl dd .cal-body ul>.cal-day-6{
	width: calc(100%/7);
	float: left;
	text-align: center;
	height:calc(270px/6);
	font-size: 15px;
	color:#333333;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 4px;
	line-height:36px;
	font-weight: 500;
	font-size: 18px;
	color:#666;
	cursor:pointer;

}
.calendar-contanier dl dd .cal-body ul>.cal-day-5{
	width: calc(100%/7);
	float: left;
	text-align: center;
	height:calc(270px/5);
	font-size: 15px;
	color:#333333;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 4px;
	line-height:45px;
	font-weight: 500;
	font-size: 18px;
	color:#666;
	cursor:pointer;
}
.cal-confirm{
	position:absolute;
	bottom:12px;
	right: 32px;
	display:block;
	width:70px;
	height:30px;
	background:#ef4f69;
	border-radius: 13px;
	color:#fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	border:1;
	color:#fff;
	border:1px solid #ef4f69;
	z-index: 999;

}
.cal-confirm:active{
	border:1px solid #ef4f69;
	background:#f6f6f6;
	color:#ef4f69;
}

.calendar-contanier-cover{
	position:fixed;
  	width:100%;
  	height:100%;
  	background:transparent;
 	top: 0;
  	left: 0;
  	right: 0;
 	bottom: 0;
 	z-index: 998;

}
.calendar-contanier dl dd .cal-body .now-month{
	background:#fff;
}